.found-view {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.found-input-warpper {
  height: 6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .found-input {
    height: 4rem;
    margin: 1rem;
    &:focus {
      box-shadow: inset 0 -0.1rem 0 var(--highlight-color);
      border-color: var(--highlight-color);
    }
  }
}
