
.me-page-container {
  height: 100%;
  width: 100%;
  padding-left: 1rem;
  overflow: hidden;
  background: url("http://p1.music.126.net/WLTBvNL_l9ZKlslFwaCM9Q==/109951163792144631.jpg") no-repeat;
  background-size:100% 100%;
}

.me-page-wrap {
  display: flex;
  margin-top: var(--statusbar-height);
  height: 4rem;


}
.avatar {
  width: 4rem;
  border-radius: 50%;
}

.personal-information {
  width: 100%;
  padding-left: 2rem;
}

.nickname {
  margin-right: 1rem;
}

.nickname-level {
  display: flex;
}
.level {
  width: 4rem;
  text-align: center;
  border: 1px solid grey;
  border-radius: 4rem;
}


