@import '../../theme/color';
@import '../../theme/font';
@import '../../theme/layout';

html, body {
  width: 100%;
  height: 100%;
  font-size: 10px;
}
ul, li {
  margin: 0;
  padding: 0;
}

body > span {
  font-weight: 600;
  font-size: 3rem;
}

.fake-device-container {
  width: 240px;
  height: 320px;
  border: solid 1px black;
  margin: 0 5rem 5rem;
}

.fake-focus {
  background-color: var(--highlight-color);
  color: var(--color-gs00);
}

.kai-menu {
  position: relative !important;
  &-wrapper {
    position: relative !important;
  }
}

.kai-dialog{
  position: relative !important;
  &-wrapper {
    position: relative !important;
  }
}
