.recommend {
  position: relative;
  width: 100%;
  height: calc(100% - var(--softkeybar-height));
  overflow: scroll;

  & .spin-container {
    width: 100%;
    height: 100%;
  }
}

img {
  width: 6rem;
}
