.player {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--color-gs10);
}

.player-info {
  height: calc(100% - 7rem);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .song-name {
    width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
  }
  .song-art {
    margin-bottom: 1rem;
  }

  .song-disc {
    height: 16rem;
    width: 16rem;
    border: 3px solid var(--highlight-color);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.player-controller {
  height: 7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .player-progress {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.wheel {
  animation-name: wheel;
  animation-duration: 25000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state:running;
}

.brake {
  animation-play-state:paused;
}

@keyframes wheel {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
